html, body {
    margin: 0;
    padding: 0;
}


header{
    display : flex;
    justify-content: center;
    align-items: center;
    height : 20vh;
    width : 100vw;
    background-color : orange;
    z-index : 0;
}

#main_header{
    display : flex;
    align-items: center;
    height : 15vh;
    width : 90vw;
    background-color : white;
    z-index : 1;
    overflow-x :scroll;
    overflow-y :hidden;
}

.header_element{
    border : white solid 2px;
    display : flex;
    justify-content: center;
    align-items: center;
    padding : auto;
    margin : 0.5vw;
    height: 11.5vh;
    width : 10vw;
    z-index : 2;
}

.header_element:hover{
    border : lightgray solid 2px;
}

.header_element.active {
    border: 2px solid darkgray;
}


.header_element img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


main{
    display : flex;
    justify-content: center;
    align-items: center;
    height : 70vh;
    width : 100vw;
    background-color : white;
    z-index : 0;
}

#main_center{
    position : relative;
    height : 60vh;
    width : 75vw;
    background-color : white;
    border : white solid 2px;
    box-shadow : 0.25vw 0.25vh 0.5vw 0.5vh rgb(185, 185, 185);
    z-index : 0;
}

#config_panel{
    position : fixed;
    top : 20.75vh;
    right : -10px;

    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;

    height : 65vh;
    width : 25vw;
    background-color : gray;

    border-radius : 1vw;

    transform : translateX(100%);
    transition : transform 0.3s ease;

    padding : 1rem;
    z-index : 100;
}

#config_panel.open{
    transform : translateX(0);
}

footer{
    display : flex;
    justify-content: center;
    align-items: center;
    height : 10vh;
    width : 100vw;
    background-color : orange;
    z-index : 0;
}